.page {
    width: 75vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    width: 100%;
    height: 100%;
    background-color: #f7f1e5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh;
    gap: 30px;
}

.contact-mes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    font-size: 1rem;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 10px;
}

.form {
    margin-top: 20px;
    width: 80%;
    height: 15%;
    border-bottom: 1px solid black;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#contact-info {
    width: 80%;
    height: 40%;
    border-bottom: 1px solid black;
    margin-bottom: 6%;
}