@media (max-width: 420px) {
    .landing-container>h1 {
        margin-bottom: 10%;
    }

    .form-cont {
        margin-bottom: 30%;
        height: 7.5%;
    }

    .scan-form {
        width: 15%;
    }

    .search-form>.search-btn {
        width: 25%;
    }

    .search-btn>.box>svg {
        height: 28px;
        width: 28px;
    }

    .search-bar {
        display: none;
    }

    /* cart */

    .main-container>div {
        height: 100%;
        width: 100%;
    }

    .main-container>div>.cartpage {
        margin-top: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

    .modal-title>#close-div {
        margin-left: 85%;
        width: 15%;
    }

    .modal-title>#close-div>button {
        border-top-right-radius: 0;
    }

    .cartpage>.cartitem {
        display: grid;
        grid-template-columns: 1fr;
    }

    .cartitem>.grid-item>.cart-product {
        width: 80%;
    }

    #cart-title>h2 {
        margin-bottom: 10%;
    }

    #cart-title>h2>.basket {
        height: 50px;
        width: 50px;
    }

    /*cart-item*/

    .cart-product>.btn-remove-div>.btn-remove {
        height: 30px;
    }

    .btn-remove>svg {
        height: 18px;
        width: 18px;
    }

    .grid-item>.cart-product>img {
        height: 250px;
    }

    .product-info>h3 {
        font-size: 1.5rem;
    }

    .product-info>.rating-details>p {
        font-size: 1.2rem;
        width: 15%;
    }

    .product-info>.rating-details>p>.star {
        width: 16px;
        height: 16px;
    }

    .rating-details>.btn-details {
        font-size: 1.2rem;
    }

    /*profile*/

    .page>.contact {
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: 50vh;
        height: fit-content;
        background-color: #f5f5f5;
    }

    .page>.veg {
        top: 0%;
    }

    .page>.savebtn {
        top: 0%;
    }

    #vegan>div {
        display: inline-flex;
    }

    .page>.savebtn>#save {
        width: auto;
    }

    #allergens>.alergen {
        font-weight: bold;
        font-size: xx-large;
        margin-left: 25%;
    }

    .form-group>#allergens>div {
        margin-left: 25%;
        display: inline-flex;
    }

    #allergens {
        width: 70%;
        margin-left: 7%;
    }

    #allergens>div>input {
        width: 20px;
        height: 20px;
    }

    .umplutura {
        height: 10%;
        width: 100%;
        background-color: #f5f5f5;
    }
}