@media (max-width: 420px) {
    .main-container {
        height: 83.5vh;
    }

    .landing-container>h1 {
        margin-bottom: 10%;
    }

    .form-cont {
        margin-bottom: 30%;
        height: 7.5%;
    }

    .scan-form {
        width: 15%;
    }

    .search-form>.search-btn {
        width: 25%;
    }

    .search-btn>.box>svg {
        height: 28px;
        width: 28px;
    }

    .search-bar {
        display: none;
    }

    /* cart */

    .main-container>div {
        height: 100%;
        width: 100%;
    }

    .main-container>div>.cartpage {
        margin-top: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

    .modal-title>#close-div {
        margin-left: 85%;
        width: 15%;
    }

    .modal-title>#close-div>button {
        border-top-right-radius: 0;
    }

    .cartpage>.cartitem {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        top: 10%;
    }

    .cartitem>.grid-item>.cart-product {
        width: 80%;
    }

    #cart-title>h2 {
        margin-bottom: 10%;
    }

    #cart-title>h2>.basket {
        height: 50px;
        width: 50px;
    }

    #cart-title>.title-btns {
        width: 100%;
    }

    /*cart-item*/

    .cart-product>.btn-remove-div>.btn-remove {
        height: 30px;
    }

    .btn-remove>svg {
        height: 18px;
        width: 18px;
    }

    .grid-item>.cart-product>img {
        height: 250px;
    }

    .product-info>h3 {
        font-size: 1.5rem;
    }

    .product-info>.rating-details>p {
        font-size: 1.2rem;
        width: 15%;
    }

    .product-info>.rating-details>p>.star {
        width: 16px;
        height: 16px;
    }

    .rating-details>.btn-details {
        font-size: 1.2rem;
    }

    /*profile*/

    .page>.contact {
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: 50vh;
        height: fit-content;
        background-color: #f5f5f5;
    }

    .page>.veg {
        top: 0%;
    }

    .page>.savebtn {
        top: 0%;
    }

    #vegan>div {
        display: inline-flex;
    }

    .page>.savebtn>#save {
        width: auto;
    }

    #allergens>.alergen {
        font-weight: bold;
        font-size: xx-large;
        margin-left: 25%;
    }

    .form-group>#allergens>div {
        margin-left: 25%;
        display: inline-flex;
    }

    #allergens {
        width: 70%;
        margin-left: 7%;
    }

    #allergens>div>input {
        width: 20px;
        height: 20px;
    }

    .umplutura {
        height: 10%;
        width: 100%;
        background-color: #f5f5f5;
    }

    /*search-products*/

    .modal {
        min-width: 95.4%;
        min-height: 80vh;
        /* position: absolute; */
        left: 50%;
        top: 58%;
        transform: translate(-50%, -50%);
        width: fit-content;
        height: fit-content;
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        border-radius: 0;
    }

    .modal-close-btn>button {
        font-size: larger;
        width: 50%;
    }

    #scanned-prods {
        font-size: 2rem;
        text-align: center;
    }

    .textQr {
        font-size: 1.25rem;
    }

    .product-list-item {
        width: 95%;
    }

    .product-list-item>button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-list-item>button>span {
        display: none;
    }

    .product-list-item>button>svg {
        display: block;
    }

    /*product details*/

    .container>.product-details-container {
        width: 100%;
        left: 50%;
        top: 50.5%;
        transform: translate(-50%, -50%);
        background-color: #e2e2e2;
        border-radius: 0;
        height: 100%;
    }

    .product-details-container>div>button {
        border-radius: 5px;
        width: 30%;
    }

    .flex-details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex-details>.product-details {
        width: 100%;
    }

    .product-details-container>.btn-back {
        justify-content: center;
    }

    .umplutura1 {
        background-color: #e2e2e2;
        height: 20px;
    }
}