.modal {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 62.5%;
  height: 67.5%;
  /* Set width to 80% of the screen */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}