.product-details-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.btn-back {
  position: relative;
  height: 6%;
  display: flex;
  justify-content: flex-end;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #e2e2e2;
}

.btn-back button {
  position: relative;
  background-color: red;
  padding: 10px 15px 10px 15px;
  border: none;
  border-top-right-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  font-size: large;
  font-weight: bold;
}

.flex-details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 94%;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.flex-details h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.flex-details .left-col {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.product-details {
  width: 50%;
}

.product-details table {
  width: 100%;
  border-collapse: collapse;
  background-color: #e2e2e2;
}
.product-details table thead {
  background-color: #9bcf53;
  border-bottom: 1px solid #000000;
  padding: 10%;
}

.product-details table th {
  padding: 10px;
}

.product-details table td {
  padding: 10px 40px;
  text-align: center;
}

.nutriscore-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9bcf53;
  padding: 0 20px;
  border-bottom-right-radius: 5px;
}

.nutriscore-likes #score {
  padding: 0 10px;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #f7a800;
  border-radius: 5px;
  margin-left: 5px;
}

.like {
  margin-left: 5px;
}
