.textQr {
  text-align: center;
  font-weight: bold;
}

#qrcam {
  margin-top: 5%;
  height: 40vh;
}

#interactive > video {
  width: 100%;
  height: 100%;
}

#close-qr {
  position: relative;
  background-color: red;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-footer {
  width: 15%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 7.5%;
}

.scanned-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.scanned-product > img {
  width: auto;
  height: 90%;
}
