.textQr {
    text-align: center;
    font-weight: bold;
}


#qrcam {
    margin-top: 5%;
    margin-bottom: 5%;
}

#interactive>video {
    width: 100%;
    height: 100%;
}

#close-qr {
    position: relative;
    background-color: red;
    padding: 10px 15px 10px 15px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.modal-footer {
    width: 15%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10%;

}